<div class="order-page">
  <div *ngIf="!activeUser">
    Please SignIn to create an order.
  </div>

  <div *ngIf="activeUser" class="order-content">
    <div class="table-holder">
      <div class="category" *ngFor="let category of menu">
        <div>{{category.name}}</div>
        <table mat-table [dataSource]="category.items"  class="mat-elevation-z8">
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name</th>
            <td mat-cell *matCellDef="let item">{{item.name}}</td>
          </ng-container>

          <ng-container matColumnDef="weight">
            <th mat-header-cell *matHeaderCellDef>Weight(g)</th>
            <td mat-cell *matCellDef="let item">{{item.weight}}</td>
          </ng-container>

          <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef>Price(UAH)</th>
            <td mat-cell *matCellDef="let item">{{item.price}}</td>
          </ng-container>

          <ng-container matColumnDef="order">
            <th mat-header-cell *matHeaderCellDef>Count</th>
            <td mat-cell *matCellDef="let item">

              <div class="order-counter">
                <button [disabled]="isMyOrderFinished() || getMenuItemOrdersCount(item) == 0" mat-mini-fab (click)="decrement(item)"><span
                  class="button-content">-</span></button>
                <mat-form-field class="counter-form">
                  <input class="counter-input" readonly type="number" matInput placeholder="Count" [value]="getMenuItemOrdersCount(item)">
                </mat-form-field>
                <button [disabled]="isMyOrderFinished()" mat-mini-fab (click)="increment(item)"><span
                  class="button-content">+</span></button>
              </div>
            </td>
            <td mat-footer-cell *matFooterCellDef></td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        </table>
      </div>

      <div class="order-toolbar">
        <mat-form-field class="comment-field">
          <textarea [disabled]="isMyOrderFinished()" [(ngModel)]="orderComments" matInput
                    placeholder="Leave a comment"></textarea>
        </mat-form-field>

        <button [disabled]="isMyOrderFinished() || !hasItemsInMyOrder()" class="toolbar-btn" mat-raised-button
                color="primary" (click)="finishOrder()">Finish My Order
        </button>

        <button [disabled]="isMyOrderFinished() || !hasItemsInMyOrder()" class="toolbar-btn" mat-raised-button
                color="warn" (click)="cancelOrder()">Cancel My Order
        </button>

        <button class="toolbar-btn" mat-raised-button color="primary" (click)="showProceedDialog()">Proceed Group Order
        </button>
      </div>
    </div>

    <mat-card class="order-summary">
      <mat-card-header>
        <!--<div mat-card-avatar class="example-header-image"></div>-->
        <mat-card-title><h3>Order Summary</h3></mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-list>
          <div class="user-order" *ngFor="let userId of getObjectKeys(activeOrder)">
            <div *ngIf="users[userId]">
              <h3 mat-subheader>
              <span class="status-indicator">
                <mat-icon *ngIf="activeOrder[userId].finished" class="done-icon"
                          aria-label="In Progress">done</mat-icon>
                <mat-icon *ngIf="!activeOrder[userId].finished" class="in-progress-icon" aria-label="In Progress">fiber_manual_record</mat-icon>
              </span>
                <img class="avatar-img-small" src="{{ users[userId].photoUrl }}">
                <span>{{ users[userId].name }}</span>
              </h3>
              <mat-list-item *ngFor="let itemId of getObjectKeys(activeOrder[userId].items)">
                <!--<mat-icon mat-list-icon>folder</mat-icon>-->
                <h4 mat-line>{{ activeOrder[userId].items[itemId].name }}</h4>
                <p mat-line> Count: {{activeOrder[userId].items[itemId].count}}</p>
              </mat-list-item>
              <mat-divider></mat-divider>
            </div>
          </div>
        </mat-list>
      </mat-card-content>
      <!--<mat-card-actions>-->
      <!--<button (click)="showProceedDialog()" mat-button>Proceed</button>-->
      <!--</mat-card-actions>-->
    </mat-card>

  </div>
</div>

