.order-page {
  padding: 10px;
  height: calc(100% - 84px);
  overflow: auto;

  .order-content {
    //height: 100%;
  }

  .order-toolbar {
    margin-top: 20px;
    padding: 10px 0;

    .toolbar-btn {
      margin-right: 10px;
    }

    .comment-field {
      width: 100%;
    }
  }

  .table-holder {
    width: 70%;
    height: calc(100% - 53px);
    overflow: auto;
    display: inline-block;

    .category {
      padding: 0 8px;
      margin-bottom: 15px;
    }

    table {
      width: 100%;
      height: 200px;

      .mat-column-order {
        width: 131px;
      }

      .mat-column-price {
        width: 131px;
      }

      .mat-column-weight {
        width: 131px;
      }
    }

  }

  .order-summary {
    display: inline-block;
    width: calc(30% - 60px);
    vertical-align: top;
    margin-left: 10px;
    //height: calc(100% - 103px);

    .avatar-img-small {
      width: 30px;
      margin-right: 7px;
      border-radius: 50%;
    }

    .user-order {
      margin-bottom: 10px;
    }

    .status-indicator {
      margin-left: -26px;
      margin-top: 2px;
      position: absolute;
      .done-icon {
        //color: #689f38;
        color: #9ccc65
      }

      .in-progress-icon {
        //color: #f57c00;
        color: #ffa726;
      }
    }

  }

  tr.mat-footer-row {
    font-weight: bold;
  }

  .order-counter {
    .counter-form {
      width: 30px;
      margin: 0 10px;
    }

    .button-content {
      font-size: 40px;
    }
  }
}

