<div class="order-view">
  <mat-list role="list">
    <div class="order-container" *ngFor="let order of orders">
      <h3 mat-subheader>
        <img class="avatar-img-small" src="{{ order.user.photoUrl }}">
        <span>{{ order.user.name }}</span>
      </h3>
      <mat-list-item *ngFor="let item of order.items" role="listitem"><b>{{item.count}}x &nbsp;</b> {{ item.name }}
      </mat-list-item>
      <mat-list-item *ngIf="order.comments" role="listitem">
        <span><b>Comment:</b> {{ order.comments }}</span>
      </mat-list-item>
      <mat-list-item role="listitem"><b>Total Cost: {{ order.totalCost }}</b></mat-list-item>
      <mat-divider></mat-divider>
    </div>
  </mat-list>
</div>
