.menu-component {
  padding: 24px;

  table {
    width: 100%;

    .mat-column-weight {
      width: 100px;
    }

    .mat-column-price {
      width: 100px;
    }
  }

  .category {
    margin-bottom: 24px;
  }

  .header {
    display: flex;
    align-items: center;
    margin-bottom: 16px;

    .update-button {
      margin-left: auto;
    }
  }
}

.cdk-column-weight, .cdk-column-price {
  text-align: end;
}
