.menu-component {
  padding: 24px;

  table {
    width: 100%;

    .mat-column-weight {
      width: 100px;
    }

    .mat-column-price {
      width: 100px;
    }
  }

  .category {
    margin-bottom: 20px;
  }

  .header {
    display: flex;
    align-items: center;
    margin-bottom: 8px;

    .loader {
      margin: 0 8px 0 auto;
    }
  }
}

.cdk-column-weight, .cdk-column-price {
  text-align: end;
}
