.user-sign-in {
  padding: 10px;

  .component-item {
    display: inline-block;
    vertical-align: middle;
  }

  .user-image {
    cursor: pointer;
    border-radius: 50%;
    width: 54px;
    margin-left: 11px;
    margin-top: 8px;
  }

}
