.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  overflow: visible;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
}

.mat-toolbar .right-panel {
  position: absolute;
  right: 0;
}

mat-nav-list {
  height: 100%;
}
